//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Tue 06 06 20:14:09 2023

IO_LOC "o" 15;
IO_PORT "o" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "s" 76;
IO_PORT "s" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "x[1]" 42;
IO_PORT "x[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "x[0]" 80;
IO_PORT "x[0]" PULL_MODE=UP BANK_VCCIO=1.8;
