//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Tue 06 06 20:08:48 2023

IO_LOC "out_inv[3]" 17;
IO_PORT "out_inv[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out_inv[2]" 18;
IO_PORT "out_inv[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out_inv[1]" 19;
IO_PORT "out_inv[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out_inv[0]" 20;
IO_PORT "out_inv[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "in[1]" 76;
IO_PORT "in[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "in[0]" 80;
IO_PORT "in[0]" PULL_MODE=UP BANK_VCCIO=1.8;
